{#
/**
 * @file
 * Default theme implementation for an image using a specific image style.
 *
 * Available variables:
 * - attributes: HTML attributes for the image, including the following:
 *   - src: Full URL or relative path to the image file.
 *   - class: One or more classes to be applied to the image.
 *   - width: The width of the image (if known).
 *   - height: The height of the image (if known).
 *   - title: The title of the image.
 *   - alt: The alternative text for the image.
 *
 * @see template_preprocess_image_style()
 *
 * @ingroup themeable
 */
#}

<div>{{ small }}</div>
<div>{{ medium }}</div>
<div>{{ large }}</div>
<div>{{ xl }}</div>

